<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
		<key>png</key>
		<string>f_static_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[憋嘴]</string>
		<key>png</key>
		<string>f_static_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[色色]</string>
		<key>png</key>
		<string>f_static_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发呆]</string>
		<key>png</key>
		<string>f_static_04</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[得意]</string>
		<key>png</key>
		<string>f_static_05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[哭]</string>
		<key>png</key>
		<string>f_static_06</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害羞]</string>
		<key>png</key>
		<string>f_static_07</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闭嘴]</string>
		<key>png</key>
		<string>f_static_08</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[休息]</string>
		<key>png</key>
		<string>f_static_09</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嚎啕大哭]</string>
		<key>png</key>
		<string>f_static_010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[尴尬]</string>
		<key>png</key>
		<string>f_static_011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发火]</string>
		<key>png</key>
		<string>f_static_012</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[调皮]</string>
		<key>png</key>
		<string>f_static_013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呲牙]</string>
		<key>png</key>
		<string>f_static_014</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>f_static_015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[难过]</string>
		<key>png</key>
		<string>f_static_016</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[冷汗]</string>
		<key>png</key>
		<string>f_static_017</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>f_static_018</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呕吐]</string>
		<key>png</key>
		<string>f_static_019</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>f_static_020</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[可爱]</string>
		<key>png</key>
		<string>f_static_021</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[白眼]</string>
		<key>png</key>
		<string>f_static_022</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[傲慢]</string>
		<key>png</key>
		<string>f_static_023</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[饥饿]</string>
		<key>png</key>
		<string>f_static_024</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[困]</string>
		<key>png</key>
		<string>f_static_025</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊恐]</string>
		<key>png</key>
		<string>f_static_026</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[冷汗]</string>
		<key>png</key>
		<string>f_static_027</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大笑]</string>
		<key>png</key>
		<string>f_static_028</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[加油]</string>
		<key>png</key>
		<string>f_static_029</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[咒骂]</string>
		<key>png</key>
		<string>f_static_030</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[疑问]</string>
		<key>png</key>
		<string>f_static_031</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嘘]</string>
		<key>png</key>
		<string>f_static_032</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[好晕]</string>
		<key>png</key>
		<string>f_static_033</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[衰]</string>
		<key>png</key>
		<string>f_static_034</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[捶你]</string>
		<key>png</key>
		<string>f_static_035</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[拜拜]</string>
		<key>png</key>
		<string>f_static_036</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抠鼻]</string>
		<key>png</key>
		<string>f_static_037</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鼓掌]</string>
		<key>png</key>
		<string>f_static_038</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[坏笑]</string>
		<key>png</key>
		<string>f_static_039</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[左哼哼]</string>
		<key>png</key>
		<string>f_static_040</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[右哼哼]</string>
		<key>png</key>
		<string>f_static_041</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鄙视]</string>
		<key>png</key>
		<string>f_static_042</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[委屈]</string>
		<key>png</key>
		<string>f_static_043</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[快哭了]</string>
		<key>png</key>
		<string>f_static_044</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[亲亲]</string>
		<key>png</key>
		<string>f_static_045</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[可怜]</string>
		<key>png</key>
		<string>f_static_046</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[笑哭]</string>
		<key>png</key>
		<string>f_static_047</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[狗狗]</string>
		<key>png</key>
		<string>f_static_048</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嘿嘿]</string>
		<key>png</key>
		<string>f_static_049</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐血]</string>
		<key>png</key>
		<string>f_static_050</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[纠结]</string>
		<key>png</key>
		<string>f_static_051</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[菜刀]</string>
		<key>png</key>
		<string>f_static_052</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[玫瑰花]</string>
		<key>png</key>
		<string>f_static_053</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吃药]</string>
		<key>png</key>
		<string>f_static_054</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吃饭]</string>
		<key>png</key>
		<string>f_static_055</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[点赞]</string>
		<key>png</key>
		<string>f_static_056</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[胜利]</string>
		<key>png</key>
		<string>f_static_057</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[握手]</string>
		<key>png</key>
		<string>f_static_058</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[ok]</string>
		<key>png</key>
		<string>f_static_059</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[赞]</string>
		<key>png</key>
		<string>f_static_060</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[月亮]</string>
		<key>png</key>
		<string>f_static_061</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[礼物包]</string>
		<key>png</key>
		<string>f_static_062</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱心]</string>
		<key>png</key>
		<string>f_static_063</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[心碎]</string>
		<key>png</key>
		<string>f_static_064</string>
	</dict>
</array>
</plist>
